@charset "UTF-8";

body {
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
}

table.cell-table {
  border: 2px solid;
  border-collapse: collapse;
}

table.cell-table th,
table.cell-table td {
  border: 1px solid;
  padding: 1px 1px;

  max-width: 30px;
  width: 30px;
  height: 30px;

  text-align: center;

  overflow: hidden;
}

table.cell-table th {
  background-color: lightgray;
}

table.cell-table th.step-num {
  max-width: 4em;
  width: 4em;
}

table.cell-table .external {
  display: none;
}

table.state-table,
table.rule-table {
  border: 2px solid;
  border-collapse: collapse;
}

table.state-table th,
table.rule-table th,
table.state-table td,
table.rule-table td {
  border: 1px solid;
  padding: 1px 1px;

  height: 20px;

  text-align: center;
}

table.state-table th,
table.rule-table th {
  background-color: lightgray;
}

table.state-table td.state-name,
table.rule-table td.state-name {
  max-width: 5em;
  width: 5em;
}

table.rule-table td.ref-count {
  min-width: 3em;
}
